PORT=3000
DB_USER=UsuarioEncuestas
DB_PASSWORD=pon-tu-contrasena-aqui
DB_SERVER=svr-sql-ctezo.southcentralus.cloudapp.azure.com
DB_DATABASE=db_WebDevUMG
DB_PORT=1433
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=true
